
	@font-face {
	    font-family: roboto;
	    src: url(../fonts/roboto/Roboto-Thin-webfont.ttf);
	}


	.menu_click_UP {
		top: -60px !important;
		transition: 1s !important;
	}
	.menu_click_DOWN {
		top: 0px !important;
		transition: 1s !important;
	}
	.showMore_animate {
		display: block !important;
		opacity: 1 !important;
		cursor: pointer !important;
	}
	.header_low {
		top:0px !important;
	}
	.mainTitle_low {
		font-size:24vw !important;
	}
	.welcomeMessage_low {
		font-size:3.5vw !important;
	}
	.showMore_low {
		font-size:3.5vw !important;
	}
	.upper_container_low {
		padding-top:10vh !important;
	}
	.simple_logo_low {
		//top: 60px !important;
		font-size: 6vw !important;
		margin: 15px !important;
	}
	.opacity_style_none {
		opacity: 0 !important;
		cursor: default;
		display: none;
	}
	.opacity_style_full {
		transition: 3s;
		opacity: 1 !important;
		cursor: pointer;
		display: block;
	}
	.showMore_full {
		display: block;
		opacity: 1;
		cursor: pointer;
	}
	html {
		overflow:  hidden;
		transition: 2s;
	}
	body {
		transition: 2s;
	}
	.s_button_active {
		background-color: rgba(255,255,255,1) !important;
	}
	.nav_click_active {
		opacity: 1 !important;
		color: white !important;
	}
	.s_button_opacity {
		opacity: 1 !important;
		transition-timing-function: ease-in !important;
	}
	.localizations_active {
		opacity: 0.4;
		transition: 0.5s;
	}
	.cont_fixed {
	    position: fixed !important;
	    top: 0px !important;
	}
	.z-inverse_1 {
		z-index: 1000 !important;
	}
	.z-inverse_2 {
		z-index: 999 !important;
	}
	.z-inverse_3 {
		z-index: 998 !important;
	}
	.z-inverse_4 {
		z-index: 997 !important;
	}
	.z-inverse_5 {
		z-index: 996 !important;
	}
	.z-inverse_6 {
		z-index: 995 !important;
	}
	.z-inverse_7 {
		z-index: 994 !important;
	}
	.z-inverse_8 {
		z-index: 993 !important;
	}
	.backpos_up {
		background-position-y: -25vh !important;
		transition: 1.5s;
	}
	.backpos_down {
		background-position-y: 0vh !important;
		transition: 1.5s;
	}
	.header_ACTIVE {
		background-color: rgba(0,0,0,0.8) !important;
		box-shadow: 0 20px 40px rgba(0,0,0,0.6) !important;
   		transition: 1s !important;
	}
	.appear_menu {
		display: block !important;
		transition: 0.5s;
	}

	body {
		font: 14px roboto,Arial,sans-serif;
	    color: #FFF;
		.menu_up_down {
			position: fixed;
			height: 5vw;
			width: 5vw;
			display: block;
			background: transparent url(../img/background/menu.png) no-repeat; 
			z-index: 1002;
			cursor: pointer;
			top: 5px;
			left: 30px;
			border: 0px;
			outline: 0px;
			transition: 0.3s;
			@media(max-width: 768px) {
				display: none;
			}
			&:hover {
				transition: 0.3s;
				opacity: 0.4;
			}
		}
		header {
			transition: 0.3s;
			position: fixed;
			top: -60px;
			z-index: 1001;
			width: 100%;
			> .slider_buttons {
				position: absolute;
				top: 45vh;
				right: 20px;
				> .s_button {
					margin: 10px 0;
					display: block;
					width: 15px;
					height: 15px;
					border-radius: 50%;
					background-color: rgba(255,255,255,0.2);
					transition: 0.3s;
					opacity: 0;
					&:hover,
					&:active {
						background-color: rgba(255,255,255,1);
						transition: 0.3s;
					}
				}
			}
			> nav {
				border-radius: 0px !important; 
				background-color: rgba(0,0,0,.8) !important;
				border: 0px !important;
				border-top: 1px solid white !important;
				border-bottom: 2px solid white !important;
				transition: 0.3s;
				@media(max-width: 768px) {
					background-color: transparent !important;
					border-top: 0px solid white !important;
					border-bottom: 0px solid white !important;
				}
				> .navbar-header {
					> #navBARbuttonMenu {
						background-color: transparent !important;
						border-color: transparent !important;
						& > .icon-bar {
							    background-color: #fff;
							    width: 30px;
							    &:nth-of-type(3),
							    &:nth-of-type(4) {
							    	margin-top: 6px;
							    }
							}
						}
					}
				> #navbarCollapse {
					border-radius: 0px;
					& > ul {
						@media(max-width: 768px) {
							width: 100% !important;
							margin-left: 0px !important;
							> li {
								> a {
									font-size: 1.3vh !important;
								}
							}
						}
						@media(max-width: 767px) {
							width: 100% !important;
							margin-left: 0px !important;
							> li {
								> a {
									font-size: 1.5em !important;
								}
							}
						}
					}
					> ul {
						display: inline-block;
					}
					> .navigation {
						@media(min-width: 768px) {
							width: 82%;
							margin-left: 8%;
							display: flex;
						    justify-content: space-between;
						    text-align: justify;
						    text-align-last: justify;
						}
					    > li {
					    	@media(min-width: 768px) {
					    		display: inline-block;
					    	}
					    	> a {
					    		padding: 10px 5px;
								font-size: 1vw;
	    						font-weight: 500;
								transition: 0.3s;
								opacity: .6;
								color: white;
								@media(max-width: 1600px) {
									font-size: 1.3vw;
								}
								@media(max-width: 767px) {
									font-size: 3vw;
								}
								&:hover {
									opacity: 1;
									color: white;
									transition: 0.3s;
								}
					    	}
					    }
					}
					> .langs {
						margin-top: 10px;
						margin-right: 5%;
						width: 15%;
						> input {
							float: right;
							width: 25px;
							height: 25px;
							margin-left: 10px;
						}
					}
				}
			}
			> .localizations {
				float: left;
				@media(max-width: 768px) {
					position: absolute;
					left: 0px;
					margin: 15px;
					//top: 60px;
				}
				@media(max-width: 767px) {
					position: absolute;
					left: 0px;
					top: 5px;
				}
				> input {
					margin-left: 15px;
					width: 40px;
					height: 40px;
					font-weight: bold;
					font-size: 18px;
					background-color: transparent;
					border: none;
					outline: none;
					color: white;
					transition: 0.5s;
					&:hover,
					&:focus {
						opacity: 0.4;
						transition: 0.5s;
					}
				}
			}
			> .simple_logo {
				z-index: -1;
				position: absolute;
				right: 0px;
				//top: 120px;
				margin-right: 45px;
				font-size: 2.5em;
				text-shadow: 1px 1px 5px rgba(0,0,0,.7);
				color: white;
				font-family: roboto;
				@media(max-width: 768px) {
					//top: 60px!important
				}
			}
		}
		> main {
			.slide {
				height: 100vh;
				width: 100%;
				z-index: 10;
				margin: 0 auto;
				position: relative;
				-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
				box-shadow: 0 0 50px rgba(0,0,0,0.8);
				> .background {
					position: absolute;
					width: 100%;
					height: 100vh;
					overflow: hidden;
				}
				> .cont {
					position: absolute;
					width: 500px !important;
				    background-color: rgba(33,41,27,.7);
					height: 100%;
					z-index: 1;
					@media(max-width: 1024px) {
						width: 100% !important;
						left: 0% !important;
						background-color: rgba(33,41,27,.5) !important;
					}
					> h3 {
						color: #fff;
						font-family: roboto;
						@media(max-width: 1024px) {
							font-size: 2em !important;
							padding: 12vh 0 7vw!important;
							@media(max-width: 1024px) {
								padding: 12vh 0 7vw!important;
							}
						}
					}
					> h4 {
						color: #fff;
						font-family: roboto;
					}
					> ul {
						margin: 2em 0;
						@media(max-width: 1024px) {
							margin: 30px 0;
						}
						@media(max-width: 768px) {
							border-left: 1px solid #fff !important;
						    padding-left: 10px !important;
						    margin-left: 40px !important;
						}
						> li {
							color: #fff;
							font-family: roboto;
							font-size: 1.6vh;
							padding: 0em 5em 3.5em;
							&:last-child {
								padding: 0em 5em 1em 5em;
							}
							@media(max-width: 1024px) {
								padding: 0 5em 6vh;
								background-position-x: 10px!important;
							}
							letter-spacing: 1px;	
							list-style-type: none;
						}
					}
				}
			}
			> .slide1 {
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg1.jpg) 50% 50%/cover no-repeat fixed, ;
			background-position-y: 0px;
				> .upper_container {
				width: 100%;
				position: absolute;
				top: -500px;
				height: 40vh;
				opacity: -10;
				transition-timing-function: ease-in-out;
					> h1 {
					    font-size: 15vw;
					    font-weight: 400;
					    text-align: center;
					    color: #fff;
					    font-family: roboto;
					}
					> h2 {
						opacity: 0;
						text-transform: uppercase;
						font-size: 2.1vw;
					    margin: 0;
					    padding: 0;
					    font-weight: 400;
					    text-align: center;
					    color: #fff;
					    font-family: roboto;
					}
				}
				> .down_container {

					width: 100%;
					position: absolute;
					text-align: center;
					bottom: 5vh;
					> a {
						cursor: default;
						text-decoration: none;
						transition: 3s;
						cursor: default;
						opacity: 0;
						transition: 2s;
						font-size: 2.1vw;
						color: #fff;
						font-family: roboto;
						position: relative;
						z-index: 10;
							> .arrow_down {
							display: block;
							opacity: 0;
							margin: auto;
							width: 22px;
							height: 22px;
							background: transparent url(../img/background/darrow.png) to-repeat;
							margin: auto;
							//opacity: 0;
							//transition: 3s;
						}
					}
				}
			}
			> .slide2 {
			overflow: hidden;
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg2.jpg) 50% 50%/cover no-repeat fixed;
			background-position-y: 0px;
				> h3 {
					position: absolute;
					text-transform: uppercase;
					text-align: center;
	    			padding: 5vh;
	    			font-size: 4vw;
	    			font-weight: 400;
	    			text-shadow: 1px 1px 5px rgba(0,0,0,.7);
	    			font-family: roboto;
	    			color: #fff;
	    			width: 100%;
	    			@media(max-width: 1024px) {
						padding: 15vh 0 0 0!important;
						margin-bottom: 10vh;
    					font-size: 2em!important;
    					z-index: 1;
					}
				}
					& > .monitor_content {  //мтили для мониторов ПК
						display: block;
						position: relative;
						padding: 35vh 40px;
						margin: 0px !important;
						width: 100%;
						@media(max-width: 1024px) {
							padding: 40vh 40px;
							background-color: rgba(0,0,0,0.5);
							height: 100vh;
						}
						@media(max-width: 1023px) {
							padding: 28vh 40px;
							background-color: rgba(0,0,0,0.5);
							height: 100vh;
						}
						> .m_content__ {
							opacity: 0;
							position: relative;
							display: inline-block;
						    vertical-align: top;
						    line-height: 1.3;
						    letter-spacing: normal;
						    box-sizing: border-box;
						    width: 19%;
						    cursor: pointer;
						    @media(max-width: 1023px) {
								display: block !important;
								width: 100%;
								& > h2 {
									&::before { 
									top: -8vh !important;
    								right: 30%;
    								font-size: 40vw !important;
    								display: none;
									}
								}
							}
							&:nth-child(1) {
									top: -400px;
									> h2 {
										&::before {
											content: "1";
										}
									}
								}
								&:nth-child(2) {
									top: 400px;
									> h2 {
										&::before {
											content: "2";
										}
									}
								}
								&:nth-child(3) {
									top: -400px;
									> h2 {
										&::before {
											content: "3";
										}
									}
								}
								&:nth-child(4) {
									top: 400px;
									> h2 {
										&::before {
											content: "4";
										}
									}
								}
								&:nth-child(5) {
									top: -400px;
									> h2 {
										&::before {
											content: "5";
										}
									}
								}
							> h2 {
								text-align: left;
								font-size: 2.1vw;
								color: #FFF;
								font-family: roboto;
								@media(max-width: 1023px) {
										&:hover {
										&::before {
											display: block;
										}
									}
								}
								
								@media(max-width: 1024px) {
								    font-size: 1.9em!important;
								    &:hover,
								  	&:active {
								    	font-weight: bold;
								    }
								}
								&::before {
									font-size: 31.4vw;
									position: absolute;
								    opacity: .2;
								    font-weight: 700;
								    color: #fff;
								    top: -16vh;
								    font-family: roboto;
								}
							}
							> ul {
								display: block;
								padding-left: 25px;
								border-left: 1px solid #fff;
								@media(max-width: 1023px) {
									display: none;
									padding-left: 15px;
    								margin-left: 15px;
								}
								> li {
									list-style: none;
									position: relative;
								    margin: 30px 0;
								    z-index: 1;
								    font-size: 1.4vw;
								    font-family: roboto;
								    color: #FFF;
								    @media(max-width: 1024px) {
									    margin: 15px 0;
									    font-size: 1.6vh;
									    letter-spacing: 1px;
									    white-space: pre-line;

									}
								}
							}
						}
					}
				@media(max-width: 768px)
				{
					& > .display_content {  //стили для планшетов и смартфонов

					}
				}
				
			}
			> .slide3 {
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg3.jpg) 50% 50%/cover no-repeat fixed;
			background-position-y: 0px;
				> .left_image {
					> img {
						width: 140vh;
						margin-top: -300px;
						margin-left: 50%;;
					}
				}
				> .cont {
					left: 10%;
					> h3 {
						padding: 100px 0 50px 0;
						text-transform: uppercase;
						text-align: center;
						font-size: 4em;
						font-family: roboto;
					}
					> ul {
						> li {
							&:nth-child(1) {
								background: url(../img/svg/medal.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(2) {
								background: url(../img/svg/timer.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(3) {
								background: url(../img/svg/chart.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(4) {
								background: url(../img/svg/keyhole.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(5) {
								background: url(../img/svg/stopwatch.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
						}
					}
				}
			}
			> .slide4 {
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg4.jpg) 50% 50%/cover no-repeat fixed;
			background-position-y: 0px;
				> .left_image {
					position: absolute;
					right: 50%;
					> img {
						width: 100vh;
						margin-left: -600px;
					}
				}
				> .right_image {
					> img {
						width: 80vh;
						margin-left: 70%;
					}
				}
				> .cont {
					left: 20%;
					> h3 {
						padding: 100px 0 50px 0;
						text-transform: uppercase;
						text-align: center;
						font-size: 4em;
						font-family: roboto;
					}
					> ul {
						> li {
							ist-style-type: none;
							&:nth-child(1) {
								background: url(../img/svg/info.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(2) {
								background: url(../img/svg/steering.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(3) {
								background: url(../img/svg/files.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(4) {
								background: url(../img/svg/board.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(5) {
								background: url(../img/svg/lock.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
						}
					}
				}
			}
			> .slide5 {
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg5.jpg) 50% 50%/cover no-repeat fixed;
			background-position-y: 0px;
				> .left_image {
				    position: absolute;
					right: 50%;
					> img {
					    position: absolute;
					    top: 0;
					    width: auto;
					    height: 100%;
				        right: 0;
					}
				}
				> .cont {
					right: 10%;
					> h3 {
						padding: 100px 0 50px 0;
						text-transform: uppercase;
						text-align: center;
						font-size: 4em;
						font-family: roboto;
					}
					> ul {
						> li {
							ist-style-type: none;
							&:nth-child(1) {
								background: url(../img/svg/globe.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(2) {
								background: url(../img/svg/mobile.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(3) {
								background: url(../img/svg/folder.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(4) {
								background: url(../img/svg/like.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
							&:nth-child(5) {
								background: url(../img/svg/safety.svg) 25px 0em no-repeat;
								background-size: auto 30px;
							}
						}
					}
				}
			}
			> .slide6 {
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg6.jpg) 50% 50%/cover no-repeat fixed;
			background-position-y: 0px;
				> .left_image {
					position: absolute;
					right: 70%;
					> img {
					    position: absolute;
					    top: 15%;
					    width: auto;
					    height: 70%;
					    right: 0;
					}
				}
				> .right_image {
				    position: absolute;
				    overflow: hidden;
					> img {
						position: absolute;
						top: 20%;
						height: 55%;
	    				margin-left: 80%;
					}
				}
				> .cont {
					right: 25%;
					> h3 {
						padding: 100px 0 40px 0;
						text-transform: uppercase;
						text-align: center !important;
						font-size: 4em;
						font-family: roboto;
					}
					> h4 {
						text-transform: uppercase;
						font-weight: 400;
					    text-align: center;
					    margin: 0;
					    font-size: 1.8em;
						font-family: roboto;
						text-shadow: 1px 1px 5px rgba(0,0,0,.7);
						@media(max-width: 768px) {
							display: inline-block;
							width: 48%;
							position: relative;
							font-size: 1.2em;
							font-weight: 100 !important;
							> b {
								font-weight: 100 !important;
							}
							&:nth-of-type(1) {
								float: left;
								margin-left: 2%;
							}
							&:nth-of-type(2) {
								float: right;
								margin-right: 2%;
							}
						}
						&:hover,
						&:active {
							font-weight: bold !important;
						}
					}
					> .e-separator {
						display: block;
					    width: 389px;
					    height: 1px;
					    margin: 5px auto;
					    background: transparent url(../img/background/horizontalSeparator.png)50% 50% no-repeat;
					    @media(max-width: 768px) {
							display: none;
						}
					}
					> .left_container,
					  .right_container {
					  	@media(max-width: 768px) {
							display: none;
							position: absolute;
							top: 40%;
						}
						> ul {
							margin: 2em 0;
							@media(max-width: 1024px) {
								margin: 30px 0;
							}
							@media(max-width: 768px) {
								border-left: 1px solid #fff !important;
							    padding-left: 10px !important;
							    margin-left: 40px !important;
							}
							> li {
								color: #fff;
								font-family: roboto;
								font-size: 1.6vh;
								padding: 0 5em 4vh;
								@media(max-width: 1024px) {
									padding: 0 5em 4vh;
									background-position-x: 10px!important;
								}
								letter-spacing: 1px;	
								list-style-type: none;
							}
							&:nth-of-type(1) {
								> li {
									list-style-type: none;
									&:nth-child(1) {
										background: url(../img/svg/browser.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(2) {
										background: url(../img/svg/key.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(3) {
										background: url(../img/svg/writing.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
								}
							}
							&:nth-of-type(2) {
								> li {
									list-style-type: none;
									&:nth-child(1) {
										background: url(../img/svg/usb.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(2) {
										background: url(../img/svg/otpdevice.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(3) {
										background: url(../img/svg/otpdevice.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
								}
							}
						}

					}
					
				}
			}
			> .slide7 {
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg7.jpg) 50% 50%/cover no-repeat fixed;
			background-position-y: 0px;
				> .left_image {
					position: absolute;
					right: 60%;
					> img {
					    position: absolute;
					    top: 15%;
					    width: auto;
					    height: 70%;
					    right: 0;
					}
				}
				> .right_image {
				    position: absolute;
				    overflow: hidden;
					> img {
						position: absolute;
						top: 20%;
						height: 55%;
	    				margin-left: 65%;
					}
				}
				> .cont {
					right: 30%;
					> h3 {
						padding: 100px 0 50px 0;
						text-transform: uppercase;
						text-align: center;
						font-size: 4em;
						font-family: roboto;
					}
					> h4 {
						text-transform: uppercase;
						font-weight: 400;
					    text-align: center;
					    margin: 0;
					    font-size: 1.8em;
						font-family: roboto;
						text-shadow: 1px 1px 5px rgba(0,0,0,.7);
						@media(max-width: 768px) {
							display: inline-block;
							width: 40%;
							position: relative;
							font-size: 1.2em;
							font-weight: 100 !important;
							> b {
								font-weight: 100 !important;
							}
							&:nth-of-type(1) {
								float: left;
								margin-left: 2%;
							}
							&:nth-of-type(2) {
								float: right;
								margin-right: 2%;
							}
						}
						&:hover,
						&:active {
							font-weight: bold !important;
						}
					}
					> .e-separator {
						display: block;
					    width: 389px;
					    height: 1px;
					    margin: 5px auto;
					    background: transparent url(../img/background/horizontalSeparator.png)50% 50% no-repeat;
					    @media(max-width: 768px) {
							display: none;
						}
					}
					> .left_container,
					  .right_container {
					  	@media(max-width: 768px) {
							display: none;
							position: absolute;
							top: 40%;
						}
						> ul {
							margin: 2em 0;
							@media(max-width: 1024px) {
								margin: 30px 0;
							}
							@media(max-width: 768px) {
								border-left: 1px solid #fff !important;
							    padding-left: 10px !important;
							    margin-left: 40px !important;
							}
							> li {
								color: #fff;
								font-family: roboto;
								font-size: 1.6vh;
								padding: 0em 5em 3.5em;
								&:last-child {
									padding: 0em 5em 1em 5em;
								}
								@media(max-width: 1024px) {
									padding: 0 5em 6vh;
									background-position-x: 10px!important;
								}
								letter-spacing: 1px;	
								list-style-type: none;
							}
							&:nth-of-type(1) {
								> li {
									list-style-type: none;
									&:nth-child(1) {
										background: url(../img/svg/bills.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(2) {
										background: url(../img/svg/writing.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(3) {
										background: url(../img/svg/list.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
								}
							}
							&:nth-of-type(2) {
								> li {
									list-style-type: none;
									&:nth-child(1) {
										background: url(../img/svg/cardinfo.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(2) {
										background: url(../img/svg/time.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
									&:nth-child(3) {
										background: url(../img/svg/moneyout.svg) 25px 0em no-repeat;
										background-size: auto 30px;
									}
								}
							}
						}
					}
					
				}
			}
			> .slide8 {
			background: url(../img/background/dots.png) 50% 50% repeat fixed, url(../img/background/dummyBg8.jpg) 50% 50%/cover no-repeat fixed;
			background-position-y: 0px;
				> .cont {
					width: 650px !important;
					left: 50%;
	    			margin-left: -325px;
	    			padding: 20px;
	    			@media (max-width: 1024px) {
	    				width: 100% !important;
	    				left: 0px !important;
						margin-left: 0px !important;
	    			}
	    			> h3 {
	    				padding: 100px 0 50px 0;
						text-transform: uppercase;
						text-align: center;
						font-size: 4em;
						font-family: roboto;
	    			}
	    			> .e-separator {
						display: block;
					    width: 389px;
					    height: 1px;
					    margin: 5px auto;
					    background: transparent url(../img/background/horizontalSeparator.png)50% 50% no-repeat;
					}
					> p {
						font-size: 1.7em;
						text-align: center;
						font-family: roboto;
						color: #fff;
					}
					> .company_copyright {
						margin: auto;
						font-size: 1.1em;
						text-align: center;
						font-family: roboto;
						color: #fff;

						position: absolute;
					    bottom: 0px;
					    left: 50%;
					    margin-left: -45px;
					}
					> .container_8_slide {
						width: 49%;
						display: inline-block;
					    vertical-align: top;
					    font-size: 14px;
					    line-height: 1.3;
					    letter-spacing: normal;
					    padding: 0 15px;
					    box-sizing: border-box;
					    outline-color: transparent;
						> address {
							padding: 20px 0;
							font-family: roboto;
							color: #fff;
							text-align: center;
						}
						> div {
							color: red;
							> iframe {
								width: 100%;
								height: 30vh;
							}
						}
					}
					> .company_copyright {
						padding: 20px 0;
					}
				}
			}
		}
	}